body{
    background-color: #100216;
}

.titulo, .footer{
    color: #f04fff;
}

.listado, .parrafo{
    color: #d982ff;    
}

.imagen{
    border-radius: 9px;
    box-shadow: 1px 1px 10px rgb(255, 182, 251), 0px 0px 25px 0px rgb(255, 182, 251);
    width:150px; 
    height:100px;
}